.menu {
  grid-area: menu;
  color: whitesmoke;
  /* width: 20%; */
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.navButton {
  padding: 20px;
  width: 100%;
  font-size: 1.2em;
  background-color: #141527;
  color: whitesmoke;
  border: none;
  margin: 0;
  cursor: pointer;
}
