header {
  display: flex;
  flex-direction: row;
  display: block;
  justify-content: space-around;
  width: 100%;
  color: whitesmoke;
}

.formInput {
  margin: 24px;
  font-size: 2em;
}

.formButton {
  padding: 10px;
}
