* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.newsArticle {
  border: 2px solid orange;
  color: black;
  width: 48%;
  margin: 0 2% 2% 0;
  background-color: whitesmoke;
}

img {
  width: 100%;
}

h3,
p {
  margin: 10px;
}

.linkBox {
  padding: 10px;
  background-color: rebeccapurple;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border: 0;
  font-size: 1.2em;
}

a {
  color: whitesmoke;
  text-decoration: none;
  margin: 5px;
}
